<html>
<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Character encoding scheme -->
		<meta charset="UTF-8"> 
		<title>Options for the user</title>
		<style type="text/css">
			a:active,a:hover,a:visited,a:link {
				text-decoration: none;
				color: black;
			}
			button {
				background-color: white;
				color :grey;
				border-radius: 10px;
			}
			button:hover {
				background-color: white;
				color: black;
			}
			#row1{
				padding: 3px;
				margin: 5px;
			}
		</style>
	</head>
	<body>
		<div class="container" style="font-color: #160214">
			<h1>FileFly</h1>
			<h6>Secure File Transfer</h6><br><br>
			<table>
				<tr id="row1">
					<td style="padding: 1px"><a href="upload-file"><button style="font-color: #160214">Encrypt File</button></a></td></tr>
				<tr>	<td style="padding: 1px"><a href="decrypt-file"><button style="font-color: #160214">Decrypt File</button></a></td>
				</tr>
				<tr>
					<td style="padding: 1px"><a href="file-directory"><button style="font-color: #160214">File Directory</button></a></td>
				</tr><tr></tr><td style="padding: 1px"><a href="public-key-directory"><button style="font-color: #160214">Public Keys</button></a></td>
			</tr><tr></tr><td style="padding: 1px"><a href="register"><button style="font-color: #160214">User Registration</button></a></td>
				</tr>
			</table>
		<br><br>
	</div>
	</body>
</html>